body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    
}

header {
    background: #abcff5;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    
}

nav button {
    margin: 0 10px;
    padding: 20px 15px;
    cursor: pointer;
    border-radius: 5px;

}
nav button:hover{
    border-radius: 19px;

}
section {
    margin: auto;
    padding: 20px 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#claimForm{
    display: flex;
    flex-direction: column;
}
input ,textarea{
    width: 100%;
    padding: 10px;
    /* margin:0 0 0 10px; */
}

.supportingDocuments{
padding: 40px;
}
form label{
    margin-top: 5px;
}
form button{
    padding: 10px;
    margin-top: 3px;
    border-radius: 5px;
}
h2{
    text-align: center;
}
.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#chatContainer {
    display: flex;
    flex-direction: column;
    border-radius: 5px;

}

#chatOutput {
    border: 1px solid #ddd;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}
#chatbot button{
border-radius: 10px;
padding: 10px;
margin: 5px auto;
}

#chatInput{
    padding: 10px;
}
